body {
  font-family: 'Montserrat', sans-serif;
}
header {
  float: left;
  width: 100%;
  background-color: #373c3f;
  position: fixed;
  z-index: 2;
}

header ul {
  margin-left: 2%;
}
header span {
  display: none;
  font-size: 24px;
  color: #ebebeb;
  line-height: 74px;
  padding-left: 38px;
  width: 140px;
}
#menu {
  display: none;
  width: 74px;
  height: 74px;
  position: absolute;
  top: 0;
  right: 0;
}
#menu img {
  position: absolute;
  top: 35%;
  left: 30%;
}
header a {
  font-size: 15px;
  color: #ebebeb;
  text-decoration: none;
  float: left;
  line-height: 95px;
  text-transform: uppercase;
  padding: 0 2%;
}
header a:hover {
  background-color: #202529;
}
/*______________________________________*/
.awesome {
  float: left;
  width: 100%;
  height: 577px;
  background: url(images/bag_blue.png);
  background-size: cover;
}
.awesome h1 {
  margin: 204px 0 60px 78px;
  font-size: 3.7em;
  color: rgb(255, 255, 255);
  width: 88%;
  letter-spacing: 3px;
}
.awesome a {
  margin-left: 78px;
  font-size: 34px;
  color: rgba(255, 255, 255, 0.502);
  width: 357px;
  text-decoration: none;
}
.awesome img {
  margin-right: 140px;
  float: right;
}
.awesome img:hover {
  width: 1%;
}
/*________________________________________*/

.like {
  width: 100%;
  background-color: #27212c;
  float: left;
  position: relative;
}
.like span {
  font-size: 137%;
  color: rgb(146, 130, 160);
  position: absolute;
  top: 110px;
  left: 5%;
}
.like div {
  width: 218px;
  background-color: #bc3183;
  float: right;
  height: 244px;
  position: relative;
}
.like img {
  position: absolute;
  top: 110px;
  left: 45%;
}
.like img:hover {
  width: 1%;
}
/*______________________________________________*/

main {
  float: left;
}
main img {
  width: 25%;
  float: left;
}
/*________________________________________________*/

.content {
  background-color: #ebebeb;
  float: left;
}

.content a {
  text-decoration: none;
  font-size: 30px;
  color: rgb(8, 140, 165);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  width: 224px;
  height: 25px;
  float: left;
  margin: 5% 0 0 6%;
}
.text1 {
  clear: left;
  float: left;
  width: 40%;
  padding: 3% 0 5% 6%;
}
.text2 {
  float: right;
  width: 40%;
  padding: 3% 6% 5% 0;
}
.text1 p, .text2 p{
  width: 100%;
  font-size: 14px;
  line-height: 1.857;
  color: rgb(81, 81, 81);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  margin-bottom: 20px;
}



/*_______________640px__________________________________*/
@media screen and (max-width: 1024px) {

  main img {
    width: 33.333333%;
  }
  main img:last-child {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  header {
    float: left;
  }
  header ul {
    margin: 0;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    z-index: 5;
    display: none;
    background-color: #373c3f;
  }
  header a {
    font-size: 14px;
    clear: left;
    line-height: 47.5px;
    width: 100%;
    padding: 5px 5px 5px 15px;
  }
  header span {
    display: block;
  }
  #menu {
    display: block;
  }
  #menu:hover {
    background-color: #202529;
  }
  .awesome {
    float: left;
    height: 348px;
  }
  .awesome h1 {
    font-size: 165%;
    margin: 115px 0 25px 0;
    padding-left: 6%;
    width: 89%;
    letter-spacing: 2px;
  }
  .awesome a {
    margin-left: 6%;
    font-size: 115%;
    width: 180px;
    letter-spacing: 1.5px;
  }
  .awesome img {
    margin-right: 20%;
    width: 1.8%;
  }

  .like {
    float: left;
  }
  .like span {
    font-size: 81%;
    top: 68.75px;
    left: 4%;
  }
  .like div {
    height: 150px;
    width: 25%;
  }
  .like img {
    top: 65.31px;
    right: 11%;
  }

  main img {
    width: 100%;
  }
  main img:last-child {
    display: none;
  }

  .content a {
    margin: 10% 0 4% 12%;
  }
  .text1 {
    width: 80%;
    padding-left: 12%;
  }
  .text1 p {
    font-size: 143%;
  }
  .text2 {
    display: none;
  }
}

@media screen and (max-width: 320px) {

  header span {
    font-size: 14px;
    line-height: 37px;
    letter-spacing: 1px;
    padding-left: 20px;
  }
  header a {
    font-size: 10px;
    padding: 0px 5px 0px 5px;
    line-height: 250%;
  }
  #menu {
    width: 37px;
    height: 37px;
  }
  #menu img {
    width: 45%;
  }

  .awesome {
    height: 175px;
  }
  .awesome h1 {
    font-size: 18.6px;
    margin: 57.8px 0 12.6px 0;
    letter-spacing: 1px;
  }
  .awesome a {
    font-size: 10.5px;
    letter-spacing: 0.75px;
  }
  .awesome img {
    margin-right: 80px;
    width: 1.2%;
    position: relative;
    top: 7px;
  }

  .like span {
    font-size: 63%;
    top: 34.5px;
  }
  .like div {
    height: 75px;
  }
  .like img {
    width: 8%;
    top: 45%;
  }

  .content a {
    font-size: 20px;
    margin-bottom: 1%;
  }
  .text1 {
    width: 75%;
  }
  .text1 p {
    font-size: 13px;
  }
}
